*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.main{
    width: 50%;
    height: 75vh;
    margin-left: 350px;
    margin-top: 70px;
    border: solid 3px blue;
}
.main .sub{
    width: 95%;
    height: 70vh;
    display: flex;
    margin-left: 20px;
    margin-top: 21px;
    border: solid 3px blue;
}
.main .sub .first-son{
    width: 48%;
    height: 70vh;
    position: relative;
    /* border: solid 5px blue; */
  
}
.main .sub .first-son img{
    width: 100%;
    height: 69.3vh;
    z-index: -1;
}
.main .sub .first-son .sub-main{
    position: absolute;
    top: 200px;
    left: 230px;
}
.main .sub .first-son .sub-main h1{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}
.main .sub .first-son .sub-main span{
    color: gold;
}
.main .sub .first-son .sub-main h3{
    font-size: 14px;
    font-weight: 500;
    color: #803e15;
    margin-top: 5px;
    text-transform: capitalize;   
    text-align: center;
}
.main .sub .second-son{
    width: 52%;
    height: 70;
    background-color: #373336;
    border: none;
    border-right: solid 9px #000000;
}
.second-son .sub-son {
    margin-top: 40px;
 
}
.second-son .sub-son .sup-son{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}
.second-son .sub-son .sup-son a{
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

}
.second-son .sub-son .sup-son a:hover{
    color: gold; 
}